/* html selectors */
article{
    color: red
}

li{
    list-style: none;
}

ul{
    display: flex;
    justify-content: space-between;
}



/* class selectors */
.blue {
    color: blue
}

/* id selectors */
#unique {
    color: green
}